* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --hero__service--bottom: 94px;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}
.btn {
    display: inline-block;
    min-width: 117px;
    height: 50px;
    border-radius: 31px;
    border: 1px solid rgb(255, 91, 46, 0.6);
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 100% */
}
.btn:hover {
    opacity: 0.8;
}
.section__heading--h2 {
    color: #000958;
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 62px; /* 119.231% */
}
.section__heading--h3 {
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 100% */
}
.section__desc--16-30 {
    color: #656689;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}
.section__desc--16-16 {
    color: #5e6085;
    text-align: center;
    font-family: Sora;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
}
.section__desc--14-24 {
    color: #656689;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}
.section__desc--14-14 {
    color: #656689;
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}
