* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}
input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
}
.btn {
    display: inline-block;
    min-width: 117px;
    height: 50px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    opacity: 0.6;
    color: #ff5b2e;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 100% */
}
