/* ==============Header=============== */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list li {
    display: inline-block;
    padding: 10px 5px;
    color: #5e6085;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
}
.header__list li:hover .header__item {
    color: #000958;
    text-shadow: 1px 0 currentColor;
}
.header__list li:not(:first-child) {
    margin-left: 26px;
}
.action__btn {
    border-radius: 25px;
    border: 1px solid #000958;
    opacity: 0.7;
    color: #000958;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
