/* ==============Header=============== */
.header {
    padding: 26px 0;
    position: sticky;
    top: -20px;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list li,
.action__btn--in {
    display: inline-block;
    padding: 10px 5px;
    color: #5e6085;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 100% */
}
.header__list li:hover .header__item,
.action__btn--in:hover {
    color: #000958;
    text-shadow: 1px 0 currentColor;
}
.header__list li:not(:first-child) {
    margin-left: 26px;
}
.header__action {
    display: flex;
    gap: 20px;
    align-items: center;
}

.action__btn {
    border-radius: 25px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    color: #040a42;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}
.action__btn:hover {
    opacity: 0.8;
}
/* Hero */
.hero {
    margin-top: 74px;
}
.hero__media {
    display: flex;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--hero__service--bottom);
}
.hero__img-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid white;
    position: relative;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
}
.hero__deco {
    position: absolute;
    z-index: -1;
}
.deco__left {
    left: -58px;
    bottom: 10px;
}
.deco__right {
    top: 16px;
    left: 377px;
}
.hero__img-dog {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #faa7ad;
    border: 3px solid #fde0e2;
    align-self: flex-end;
    margin-left: -23px;
    transform: translateY(58px);
}
.hero__service {
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: calc(-1 * var(--hero__service--bottom));
}
.hero__service--inner {
    padding: 18px 14px;
}

.pet__service {
    display: flex;
    gap: 10px;
    align-items: center;
}
.pet__service-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    overflow: hidden;
}
.pet__heal-img {
    background: #fec23f;
}
.pet__care-img {
    background: #b9d8f3;
}
.pet__img {
    max-width: 100%;
    max-height: 100%;
}
.pet__text {
    color: #181e52;
    font-family: Sora;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 100% */
}
.line {
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.line-1 {
    margin-top: 7px;
    width: 118px;
    height: 4px;
}
.line-2 {
    margin-top: 6px;
    width: 39px;
    height: 4px;
}
.separate {
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    margin: 20px 0;
}
/* Content */
.hero__heading {
    width: 517px;
    color: #000958;
    font-size: 6.6rem;
    font-style: normal;
    font-weight: 800;
    line-height: 76px; /* 115.152% */
}
.hero__desc {
    margin-top: 24px;
    width: 391px;
}
.hero__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 24px;
}
.hero__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 189px;
    height: 60px;
    line-height: 60px;
    background: #ff5b2e;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #fff;
    font-weight: 600;
}

.hero__btn--right {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fffaf5;
}
.hero__call {
    color: #000958;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: underline;
}
/* ==================About================== */
.about {
    padding-top: 77px;
    padding-bottom: 53px;
}
.about__inner {
    display: flex;
    align-items: center;
}
.about__text {
    color: #5e6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
}
.about__heading {
    margin-top: 15px;
    width: 446px;
}
.about__desc {
    margin-top: 24px;
    width: 431px;
}
.about__content--list {
    margin-top: 57px;
    margin-left: 34px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 34px 70px;
}
.about__content--item {
    color: #48496a;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 100% */
    position: relative;
    display: flex;
    align-items: center;
}
.about__content--item {
    white-space: nowrap;
}
.about__content--item:hover::before {
    box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}
.about__icon {
    position: absolute;
    left: -30px;
}
.about__content--item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background: #ff5d31;
    position: absolute;
    left: -34px;
}
/* Media */
.about__media {
    margin-left: 200px;
}
.about__bg {
    width: 494px;
    height: 559px;
    border-radius: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.about__bg::after {
    content: "";
    display: inline-block;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.about__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.about__deco {
    position: absolute;
    top: 149px;
    right: -71px;
    z-index: -1;
}
.about__exp {
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    position: absolute;
    left: -92px;
    bottom: 238px;
}
.about__exp > div {
    padding: 31px 26px 0 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}
.about__exp--num {
    color: #fff;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 100% */
}
.about__exp--text {
    width: 83px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.exp__deco {
    position: absolute;
    top: -39px;
    right: -31px;
}
/* =====================Feature======================= */
/* Media */
.feature {
    padding-top: 77px;
    padding-bottom: 60px;
}
.feature__inner {
    display: flex;
    align-items: center;
}
.feature__image {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid white;
    background: linear-gradient(180deg, #c2dff8 0%, #90bce0 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.feature__img {
    max-width: 100%;
    max-height: 100%;
}
.feature__deco {
    position: absolute;
}
.deco__1 {
    top: 12px;
    right: 63px;
}
.deco__2 {
    right: 13px;
    top: -16px;
}
.deco__3 {
    top: 33px;
    right: -21px;
}
.deco__4 {
    top: 268px;
    right: -33px;
}
.deco__5 {
    right: 19px;
    bottom: 150px;
}
.deco__6 {
    top: 435px;
    left: 377px;
}
/* Content */
.feature__content {
    margin-left: 127px;
}
.feature__heading {
    width: 543px;
}
.feature__desc {
    margin-top: 24px;
    width: 511px;
}
.feature__list {
    margin-top: 55px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 56px;
    position: relative;
}
.feature__item {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
.feature__list::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #ff5b2e;
    opacity: 0.07;
    position: absolute;
    bottom: 0;
}
.feature__item::after {
    content: "";
    display: inline-block;
    width: 95px;
    height: 2px;
    background: #ff5b2e;
    position: absolute;
    left: 6px;
    bottom: 0;
    display: none;
}
.feature__item:hover::after {
    display: inline-block;
}
.feature__item:nth-child(2) .feature__icon {
    transform: translateY(5px);
}
.feature__item--name {
    color: #48496a;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
    white-space: nowrap;
}
.feature__desc.section__desc--14-24 {
    margin-top: 36px;
    width: 391px;
}
.feature__action {
    display: inline-block;
    margin-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    text-decoration: underline;
}
/* ==============Service==================== */
.service {
    margin-top: 130px;
    background: #fff6ed;
}
.service__inner {
    padding: 168px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service__header {
    text-align: center;
}
.service__sub {
    margin-bottom: 15px;
}
.service__main {
    margin-top: 31px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
}
.service__column {
    margin-top: 40px;
}
.service__bg {
    width: 440px;
    height: 650px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
}
.service__bg::after {
    content: "";
    display: inline-block;
    width: 400px;
    height: 50%;
    border-radius: 10px;
    background: linear-gradient(180deg, #98ecf6 0%, #82dbe6 100%);
    position: absolute;
    z-index: -1;
}
.service__img {
    max-width: 100%;
    max-height: 100%;
}
.service__detail {
    width: 294px;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 30px 22px 30px 28px;
}
.service__column--heading {
    position: relative;
    margin-left: 12px;
}
.service__column--heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
    position: absolute;
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
}
.service__column--desc {
    margin-top: 18px;
    margin-bottom: 24px;
}
.service__act {
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    display: inline-flex;
    align-items: center;
    gap: 6px;
}
.service__act:hover {
    text-decoration: underline;
    color: #ff9578;
}
.service__btn {
    width: 214px;
    height: 56px;
    line-height: 56px;
    margin-top: -41px;
}
/* =================Team====================== */
.team {
    padding: 130px 0;
}
.team__heading {
    margin-top: 15px;
    text-align: center;
}
.team__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}
.team__member--wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}
.team__member--wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 93%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    bottom: 1px;
    left: 0;
}
.team__member--wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: calc(100% + 36px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}
.team__member:nth-child(1) .team__member--wrap::after {
    background-image: url(../asset/img/team/deco-1.svg);
}
.team__member:nth-child(2) .team__member--wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.team__member:nth-child(2) .team__member--wrap::after {
    background-image: url(../asset/img/team/deco-2.svg);
}
.team__member:nth-child(3) .team__member--wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.team__member:nth-child(3) .team__member--wrap::after {
    background-image: url(../asset/img/team/deco-3.svg);
}
.team__member:nth-child(4) .team__member--wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.team__member:nth-child(4) .team__member--wrap::after {
    background-image: url(../asset/img/team/deco-4.svg);
}
.team__member:nth-child(2n) .team__member--wrap::after {
    background-position: 0 16px;
}
.team__img {
    margin-bottom: 34px;
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
}
.team__member--name {
    margin-top: 14px;
    color: #000958;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.team__all--btn {
    min-width: 193px;
    height: 56px;
    line-height: 56px;
    margin-top: 48px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.team__all--btn:hover {
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
}
